//<FORM>====================================================================================================
.form {
	&__row {
	}
	&__column {
	}
	&__line {
	}
	&__input {
	}
	&__button {
	}
	&__error {
	}
	&__viewpass {

		&._active {
		}
	}
}
//</FORM>====================================================================================================

//<BUTTONS>====================================================================================================
.btn {
	display: inline-flex;
	border-radius: 3px; 
	line-height: 1.2;
	font-weight: 700;
	letter-spacing: 0.01em;
	transition: color .5s, background-color .5s;
}
.btn-primary {
	font-size: 16px;
	background-color: #d0bb79;
	color: #0d0f16;

	@media (min-width: $md2+px) {
		&:hover {
			background-color: #8F7F4D;
		}
	}
}
.btn-outline {
	padding: 20px 95px;
	display: inline-flex;
	border: 2px solid #d0bb79;
	color: #d0bb79;
	font-size: 14px;

	@media (min-width: $md2+px) {
		&:hover {
			background-color: #d0bb79;
			color: #12141c;
		}
	}
}
//</BUTTONS>====================================================================================================

//<INPUT>====================================================================================================
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&:focus {
		outline: none;
	}
}
.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 17px 20px 17px 30px;

	font-family: 'Source Sans Pro';
	font-size: 18px;
	font-weight: 400;
	color: #878787;
	border-radius: 3px;
	border: 2px solid transparent;
	background-color: transparent;
	transition: all .5s;

	&._focus {
		border: 2px solid #d0bb79;
	}
	&._error {
		border: 2px solid #9F3A33;
		transition: all .5s;
	}
}
textarea.input {
	resize: none;
	padding: 25px 30px;

}
//</INPUT>====================================================================================================