//<FORM>====================================================================================================
.form {
	&__row {
	}
	&__column {
	}
	&__line {
	}
	&__input {
	}
	&__button {
	}
	&__error {
	}
	&__viewpass {

		&._active {
		}
	}
}
//</FORM>====================================================================================================

//<BUTTONS>====================================================================================================
.btn {
	display: inline-flex;
	padding: 0px 0px;

	background-color: #d0bb79;
	border-radius: 3px;
	font-family: "Quicksand";
	font-size: 16px;
	line-height: 1.2;
	font-weight: 700;
	letter-spacing: 0.01em;
	color: #0d0f16;

	@media (min-width: 992px) {
		&:hover {
		}
	}
}
.btn-outline {
	display: inline-flex;
	border: 2px solid #d0bb79;
	color: #d0bb79;
	border-radius: 3px;
	font-family: "Quicksand";
	padding: 16px 67px;
	font-size: 14px;
	font-weight: 700;
	transition: color .3s, background-color .3s;

	@media (min-width: 850px) {
		&:hover {
			background-color: #d0bb79;
			color: #12141c;
		}
	}
}
//</BUTTONS>====================================================================================================

//<INPUT>====================================================================================================
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&:focus {
		outline: none;
	}
}
.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0px 20px;

	&._focus {
	}
	&._error {
	}
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}
//</INPUT>====================================================================================================