//====================================================================================================
.header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 10;
	background-color: transparent;
	transition: background-color .3s;

	&--full {
		background-color: #0c0f16;

		&::before {
			content: "";
			background-color: #0c0f16;
		}
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: transparent;
		z-index: 3;
		transition: background-color .3s;
	}

	&._scroll {
		background-color: #0c0f16;

		&::before {
			background-color: #0c0f16;
		}
		
		.header__content {
			height: 80px;
		}
	}
	// .header__content

	&__content {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 120px;
		transition: all .3s;

		&--full {
			height: 80px;
			padding: 0px 90px;

			@media (max-width: $md3+px) {
				padding: 0px 10px;
			}
		}
	}

	// .header__logo

	&__logo {
		position: relative;
		z-index: 5;
	}

}
//====================================================================================================

.menu {
	display: flex;
	align-items: center;

	&__sosials {
		display: none;

		@media (max-width: $md2+px) {
			display: block;
			align-self: flex-end;
			margin: 0px 0px 50px 0px;
		}

		&--full {
			display: block;
			align-self: flex-end;
			margin: 0px 0px 50px 0px;
		}
	}

	&__contact {
		position: relative;
		z-index: 4;
		margin: 0px 75px 0px 0px;
		font-size: 16px;
		line-height: 26px;
		font-weight: 700;
		letter-spacing: 0.01em;
		color: #aaaaaa;

		@media (max-width: $md2+px) {
			margin: 0px 30px 0px 0px;
		}

		@media (max-width: 650px) {
			font-size: 0;
			height: 24px;
			width: 24px;
		}

		@media (max-width: 380px) {
			margin: 0px 20px 0px 0px;
		}
	}

	&__contact-link {
		color: #ffffff;
		transition: color .3s;

		@media (min-width: 850px) {
			&:hover {
				color: #d0bb79;
			}
		}

		@media (max-width: 650px) {
			position: relative;

			&::after {
				position: absolute;
				content: "\e902";
				font-family: "icons";
				font-size: 20px;
			}
		}
	}

	&__search-icon {
		position: relative;
		z-index: 4;
		cursor: pointer;
		font-size: 24px;
		line-height: 1.2;
		font-weight: 400;
		color: #ffffff;
		margin: 0px 0px 0px 75px;
		transition: color .3s;

		@media (min-width: 850px) {
			&:hover {
				color: #d0bb79;
			}
		}

		@media (max-width: $md2+px) {
			margin: 0px 30px 0px 0px;
		}

		@media (max-width: 380px) {
			margin: 0px 20px 0px 0px;
		}

		&--full {
			margin: 0px 75px 0px 0px;
		}
	}

	&__body {

		@media (max-width: $md2+px) {
			position: fixed;
			top: 0;
			right: 0;
			width: 540px;
			height: 100%;
			overflow: auto;
			display: flex;
			flex-direction: column;
			background-color: #0C0F16;
			transform: translateX(100%);
			padding: 105px 80px 30px 60px;
			transition: transform 0.6s ease 0s;

			@media (max-width: $md3+px) {
				padding: 105px 10px 30px 49px;
			}

			@media (max-width: 600px) {
				width: 100%;
			}
	
			&._active {
				transform: translateX(0%);
			}
		}

		&--full {
			position: fixed;
			top: 0;
			right: 0;
			width: 540px;
			height: 100%;
			overflow: auto;
			display: flex;
			flex-direction: column;
			background-color: #0C0F16;
			transform: translateX(100%);
			padding: 105px 80px 30px 60px;
			transition: transform 0.6s ease 0s;

			@media (max-width: $md3+px) {
				padding: 105px 10px 30px 49px;
			}

			@media (max-width: 600px) {
				width: 100%;
			}
	
			&._active {
				transform: translateX(0%);
			}
		}
	}

	&__icon {
		display: none;

		@media (max-width: $md2+px) {
			display: block;
		}

		&--full {
			display: block;
		}
	}

	// .menu__list

	&__list {
		position: relative;
		z-index: 3;
		width: 100%;
		
		@media (min-width: $md2+px) {
			display: flex;
			align-items: center;
		}

		&--full {
			display: block;

			@media (min-width: $md2+px) {
				display: block;
			}
		}
	}

	// .menu__item

	&__item {
		position: relative;
		
		@media (max-width: $md3+px) {
			flex-wrap: wrap;

			&._active .menu__sub-list {
				display: block;
			}
		}

		@media (min-width: $md2+px) {			
			display: flex;
			margin: 0px 30px 0px 0px;
			
			&:last-child {
				margin: 0;
			}
		}

		&--full {

		}

/* 		&:hover {
			@media (min-width: $md3+px) {				
				.menu__sub-list{
					visibility: visible;
					opacity: 1;
					pointer-events: all;
					transform: translate(0px, 0px);
				}
				.menu__link{
					color: #e0e22e;
				}
			}
		} */
	}

	// .menu__link

	&__link {
		position: relative;
		display: block;
		font-weight: 700;
		font-size: 16px;
		letter-spacing: 0.01em;
		color: #aaaaaa;
		padding: 32px 0px;
		transition: color .3s;

		@media (max-width: $md2+px) {
			font-size: 26px;
			padding: 25px 0px 25px 40px;
			color: #878787;

			&::before {
				position: absolute;
				left: 0;
				top: 50%;
				transform: translate(0%, -50%);
				content: "";
				width: 20px;
				height: 3px;
				background-color: #d0bb79;
				border-radius: 1.5px;
			}
		}

		&:hover {
			@media (min-width: $md2+px) {
				color: #d0bb79;
			}
		}

		&--full {
			font-size: 26px;
			padding: 25px 0px 25px 40px;
			color: #878787;

			&::before {
				position: absolute;
				left: 0;
				top: 50%;
				transform: translate(0%, -50%);
				content: "";
				width: 20px;
				height: 3px;
				background-color: #d0bb79;
				border-radius: 1.5px;
			}
		}

		// active menu on scroll
		&._active {
			color: #d0bb79;
		}
	}

//====================================================================================================
//SUB-MENU

	// .menu__sub-list

	&__sub-list {
		position: absolute;
		z-index: 1;
		top: 100%;
		left: 0;
		background-color: transparent;
		transform: translate(0px, 10px);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all .3s;

		@media (max-width: $md2+px) {
			top: 20px;
    		left: 250px;
		}

		@media (max-width: $md3+px) {
			left: 220px;
		}

		@media (max-width: $md4+px) {
			position: relative;
			top: 0;
			left: 0;
			display: none;
		}
	}

	// .menu__sub-item
	
	&__sub-item {
		width: 100%;
	}

	// .menu__sub-link

	&__sub-link {
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 0.01em;
		display: block;
		white-space: nowrap;
		padding: 15px;
		color: #aaaaaa;
		transform: translate(0px, 0px);
		transition: color .3s, background .3s, transform .3s;

		@media (max-width: $md2+px) {
			font-size: 18px;
		}

		@media (max-width: $md4+px) {
			display: inline-block;
			padding: 15px 15px 15px 40px;
		}

		&:hover {
			@media (min-width: $md3+px) {
				color: #d0bb79;
			}
		}
	}

}
 //====================================================================================================
._free {
	.header {
		background-color: #12141c;

		&::before {
			background-color: #12141c;
		}
	}
}
._scroll {
	.menu__sub-list {
		background-color: #0c0f16;
	}
}
body._pc .menu__list .menu__item:hover .menu__sub-list,
body._touch .menu__list .menu__item._active .menu__sub-list {
	visibility: visible;
	opacity: 1;
	pointer-events: all;
	transform: translate(0px, 0px);

	@media (max-width: $md4+px) {
		display: block;
	}
}
body._pc .menu__list .menu__item:hover .menu__link {
	color: #d0bb79;
}
body._pc .menu__list .menu__sub-item:hover .menu__sub-link {
	transform: translate(10px, 0px);
}
body._touch .menu__list .menu__link-arrow {
	display: inline-block;
	padding-right: 20px;

	&::after {
		content: "\e900";
		font-family: "icons";
		position: absolute;
		right: 0;
		top: 43%;
		transform: rotate(90deg);
		font-size: 14px;
		transition: all .3s;
	}
}
body._touch .menu__list .menu__item._active .menu__link-arrow::after {
	transform: rotate(-90deg);
}
//====================================================================================================
//Burger
.icon-menu {
	// display: none;

	// display: block;
	position: relative;
	width: 30px;
	height: 18px;
	cursor: pointer;
	z-index: 3;
	span {
		transition: all 0.3s ease 0s;
		top: calc(50% - 1px);
		left: 0px;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #fff;
		&:first-child {
			top: 0px;
		}
		&:last-child {
			top: auto;
			bottom: 0px;
		}
	}
	&._active {
		span {
			transform: scale(0);
			&:first-child {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&:last-child {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}