.page-portfolio {

	&__controls {
		margin: 0px 0px 85px 0px;

		@media (max-width: $md1+px) {
			margin: 0px 0px 65px 0px;
		}

		@media (max-width: $md2+px) {
			margin: 0 0 55px 0;
		}

		@media (max-width: $md3+px) {
			margin: 0 0 35px 0;
		}

		@media (max-width: $md4+px) {
			margin: 0 0 20px 0;
		}

		&--center {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
	}

	&__controls-btn {
		font-size: 16px;
		line-height: 26px;
		font-weight: 700;
		letter-spacing: 0.01em;
		color: #878787;
		margin: 0px 0px 0px 50px;
		transition: color .3s;

		@media (max-width: $md2+px) {
			margin: 0;
			padding: 10px;
		}

		&:first-child {
			margin: 0;
		}

		@media (min-width: $md3+px) {
			&:hover {
				color: #d0bb79;
			}
		}

		&.mixitup-control-active {
			color: #d0bb79;
		}
	}

	&__items {
		text-align: center;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		
		&--gap {
			margin: -20px;

			@media (max-width: $md3+px) {
				margin: -10px;
			}
	
			@media (max-width: 380px) {
				margin: -5px;
			}
		}
	}

	&__column {
		position: relative;

		&--gap {
			padding: 20px;

			@media (max-width: $md3+px) {
				padding: 10px;
			}
	
			@media (max-width: 380px) {
				padding: 5px;
			}
		}

		&--sm {
			flex: 0 1 39.2%;

			@media (max-width: 550px) {
				flex: 0 1 100%;
			}
		}
		&--bg {
			flex: 0 1 60.8%;

			@media (max-width: 550px) {
				flex: 0 1 100%;
			}
		}
	}

	&__item {
		position: relative;
		display: block;
		height: 100%;

		@media (min-width: $md2+px) {
			&:hover .page-portfolio__overlay {
				opacity: 1;
			}
		}
	}

	&__img {
		overflow: hidden;
		position: relative;

		&--high {
			padding: 0 0 84% 0;
			height: 100%;
			max-height: 600px;

			@media (max-width: 550px) {
				padding: 0 0 80% 0;
			}
		}

		&--wide {
			padding: 0 0 31.7% 0;
			min-height: 250px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}

	}

	&__overlay {



	}

	&__overlay-line {

		margin: 0px 0px 35px 0px;
	}

	&__overlay-title {

		margin: 0px 0px 15px 0px;
	}

	&__overlay-subtitle {

	}

	&__btn {
		margin: 75px 0px 0px 0px;
		padding: 20px 95px;

		@media (max-width: $md3+px) {
			margin: 65px 0px 0px 0px;
		}

		@media (max-width: $md4+px) {
			margin: 55px 0 0 0;
		}
	}
}

.portfolio-vertical {

	&__items {
		text-align: center;
	}

	&__column {
		margin: 0px 0px 50px 0px;

		@media (max-width: $md2+px) {
			margin: 0px 0px 40px 0px;
		}

		@media (max-width: $md3+px) {
			margin: 0px 0px 30px 0px;
		}

		@media (max-width: $md4+px) {
			margin: 0px 0px 20px 0px;
		}

		&:last-child {
			margin: 0;
		}
	}

}



