.copyright {
	font-family: 'Source Sans Pro';
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;
	color: #878787;

	&__link {
		color: #d0bb79;
		border-bottom: 1px solid transparent;
		transition: border-bottom .3s;


		@media (min-width: $md2+px) {
			&:hover {
				border-color: #d0bb79;
			}
		}
	}
}
