.search {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 541px;
	z-index: 4;
	background-color: #0C0F16;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;

	&._active {
		opacity: 1;
		visibility: visible;
	}

	&__container {

		&--full {
			padding: 0px 90px;

			@media (max-width: $md3+px) {
				padding: 0px 10px;
			}
		}
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		&--bg {
			height: 120px;
		}

		&--sm {
			height: 80px;
		}
	}

	&__close {
		position: relative;
		width: 18px;
		height: 18px;
		cursor: pointer;
		z-index: 30;
		background: url("../img/icons/close.svg") 0 0 no-repeat;
	}

	&__content {
		display: flex;
		justify-content: center;
		padding: 220px 0px 0px 0px;
	}

	&__form {
		width: 100%;
		max-width: 771px;
		margin: 0 auto;
		position: relative;
	}

	&__input {
		border-bottom: 1px solid #3B3F4A;
		background-color: transparent;
		font-size: 26px;
		color: #878787;
		padding: 0px 0px 35px 0px;
		width: 100%;
		transition: border-bottom .5s;

		@media (max-width: $md4+px) {
			font-size: 22px;
			padding: 0px 0px 20px 0px;
		}

		@media (max-width: 380px) {
			font-size: 18px;
		}

		&._error {
			border-bottom: 1px solid #9F3A33;
		}
	}

	&__btn-icon {
		position: absolute;
		font-size: 28px;
		color: #fff;
		right: 0;
		top: 0%;
		cursor: pointer;
	}
}
//========================================================================================================================================================
._scroll {
	.search__header--bg {
		height: 80px;
	}
}