.countdown {
	display: flex;
	justify-content: center;
	// .countdown__time

	&__time {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0px 150px 0px 0px;

		@media (max-width: $md3+px) {
			margin: 0px 50px 0px 0px;
		}

		@media (max-width: $md4+px) {
			margin: 0px 20px 0px 0px;
		}

		&:last-child {
			margin: 0;
		}
	}

	// .countdown__item

	&__item {
		position: relative;
		display: block;
		font-size: 36px;
		font-weight: 400;
		letter-spacing: 0.01em;
		color: #ffffff;
		margin: 0px 0px 30px 0px;

		@media (max-width: $md3+px) {
			margin: 0px 0px 25px 0px;
		}

		@media (max-width: $md4+px) {
			margin: 0px 0px 20px 0px;
		}
	}

	&__text {
		font-family: 'Source Sans Pro';
		font-size: 18px;
		font-weight: 400;
		color: #878787;
	}
}
