.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 77px 0px 0px 0px;

	@media (max-width: $md3+px) {
		margin: 57px 0px 0px 0px;
	}

	@media (max-width: $md4+px) {
		margin: 37px 0px 0px 0px;
	}
	// .pagination__arrow

	&__arrow {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 173px;
		height: 63px;
		border: 2px solid #13171f;
		border-radius: 3px;
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 0.01em;
		color: #878787;
		transition: color .3s, border .3s;

		@media (min-width: $md2+px) {
			&:hover {
				color: #d0bb79;
				border-color: #d0bb79;
			}
		}

		&--left {
			margin: 0px 40px 0px 0px;

			@media (max-width: $md3+px) {
				margin: 0;
			}
		}
		&--right {
			margin: 0px 0px 0px 40px;

			@media (max-width: $md3+px) {
				margin: 0;
			}
		}
	}

	// .pagination__list

	&__list {
		display: flex;

		li {
			margin: 0px 8px 0px 0px;

			@media (max-width: $md4+px) {
				margin: 0;
			}

			&:last-child {
				margin: 0;
			}
		}
	}

	// .pagination__item

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0.01em;
		color: #878787;
		width: 63px;
		height: 63px;
		border: 2px solid transparent;
		border-radius: 3px;
		transition: color .3s, border .3s;

		@media (max-width: $md3+px) {
			width: 43px;
			height: 43px;
			font-size: 14px;
		}
		
		&._active {
			border: 2px solid #13171f;
			color: #d0bb79;
		}

		@media (min-width: $md2+px) {
			&:hover {
				color: #d0bb79;
			}
		}
	}

}
